.sites-row {
  height: 100% !important;
}
.sites-handler {
  padding: 50px !important;
}
.sites-top {
  padding: 30px !important;
  height: 50%;
}
.sites-bottom {
  padding: 30px !important;
  height: 50%;
}
.site-button {
  width: 100%;
}
.card-title {
  text-align: center !important;
}
.outlook-image {
  padding: 15px 0 0 15px;
  width: 95%;
}
